USE [master]
GO
/****** Object:  Database [ColegioSanJose]    Script Date: 5/3/2026 11:04:50 PM ******/
CREATE DATABASE [ColegioSanJose]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ColegioSanJose', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ColegioSanJose.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ColegioSanJose_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ColegioSanJose_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ColegioSanJose].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ColegioSanJose]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 5/3/2026 11:04:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[AlumnoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Grado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlumnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expediente]    Script Date: 5/3/2026 11:04:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expediente](
	[ExpedienteId] [int] IDENTITY(1,1) NOT NULL,
	[AlumnoId] [int] NOT NULL,
	[MateriaId] [int] NOT NULL,
	[NotaFinal] [decimal](5, 2) NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpedienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 5/3/2026 11:04:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[MateriaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [nvarchar](100) NOT NULL,
	[Docente] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([AlumnoId], [Nombre], [Apellido], [FechaNacimiento], [Grado]) VALUES (1, N'Levi Asael', N'Valle Palma', CAST(N'2008-12-26' AS Date), N'noveno')
INSERT [dbo].[Alumno] ([AlumnoId], [Nombre], [Apellido], [FechaNacimiento], [Grado]) VALUES (2, N'Karla susana', N'Lopez', CAST(N'2009-10-10' AS Date), N'Octavo')
INSERT [dbo].[Alumno] ([AlumnoId], [Nombre], [Apellido], [FechaNacimiento], [Grado]) VALUES (3, N'Andrea Melissa ', N'Machado Perez', CAST(N'2009-06-24' AS Date), N'Septimo')
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
SET IDENTITY_INSERT [dbo].[Expediente] ON 

INSERT [dbo].[Expediente] ([ExpedienteId], [AlumnoId], [MateriaId], [NotaFinal], [Observaciones]) VALUES (1, 1, 1, CAST(9.00 AS Decimal(5, 2)), N'Muy Bueno')
INSERT [dbo].[Expediente] ([ExpedienteId], [AlumnoId], [MateriaId], [NotaFinal], [Observaciones]) VALUES (2, 2, 2, CAST(9.00 AS Decimal(5, 2)), N'Muy Bueno')
INSERT [dbo].[Expediente] ([ExpedienteId], [AlumnoId], [MateriaId], [NotaFinal], [Observaciones]) VALUES (3, 1, 2, CAST(9.00 AS Decimal(5, 2)), N'Muy Bueno')
SET IDENTITY_INSERT [dbo].[Expediente] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([MateriaId], [NombreMateria], [Docente]) VALUES (1, N'Programacion 1', N'ING Carlos Perez')
INSERT [dbo].[Materia] ([MateriaId], [NombreMateria], [Docente]) VALUES (2, N'Base de datos 1', N'ING Luis Fernandez ')
INSERT [dbo].[Materia] ([MateriaId], [NombreMateria], [Docente]) VALUES (3, N'Matematicas', N'LIC Roberto Carlos')
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
ALTER TABLE [dbo].[Expediente]  WITH CHECK ADD  CONSTRAINT [FK_Expediente_Alumno] FOREIGN KEY([AlumnoId])
REFERENCES [dbo].[Alumno] ([AlumnoId])
GO
ALTER TABLE [dbo].[Expediente] CHECK CONSTRAINT [FK_Expediente_Alumno]
GO
ALTER TABLE [dbo].[Expediente]  WITH CHECK ADD  CONSTRAINT [FK_Expediente_Materia] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materia] ([MateriaId])
GO
ALTER TABLE [dbo].[Expediente] CHECK CONSTRAINT [FK_Expediente_Materia]
GO
ALTER TABLE [dbo].[Expediente]  WITH CHECK ADD CHECK  (([NotaFinal]>=(0) AND [NotaFinal]<=(10)))
GO
USE [master]
GO
